<h1>Listado de pacientes</h1>
<hr>

<div class="row">
    <div class="col">
        <button routerLink="/paciente/nuevo"
            class="btn btn-primary">Agregar</button>
    </div>
</div>

<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de la mascota</th>
            <th scope="col">Propietario</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Sintomas</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes; let i = index">
            <th scope="row"> {{ i + 1 }} </th>
            <td> {{ paciente.nombre }} </td>
            <td> {{ paciente.propietario }} </td>
            <td> {{ paciente.fecha }} </td>
            <td> {{ paciente.hora }} </td>
            <td> {{ paciente.sintomas }} </td>
            <td>
                <button [routerLink]="['/paciente', paciente._id]"
                    class="btn btn-warning btn-sm">Editar</button>

                <button (click)="deletePaciente(paciente)"
                    class="btn btn-danger btn-sm">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

